@model IEnumerable<AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.Duyuru>

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "Duyurular | Admin Panel";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Duyurular | CSharpTurk";
    }
}
<script src="~/Scripts/angular_spec/Duyurular.js"></script>
<h2>Kayıtlı Duyurular</h2>
<hr />
@if (@ViewBag.admin || ViewBag.yazar)
{
            <a class="btn btn-primary" href="~/Duyuru/DuyuruOlustur">
                Yeni Duyuru Oluştur <span class="glyphicon glyphicon-plus glyphicon-th-large"></span>
            </a>
}

<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12 table-responsive">
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DuyuruTarih)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DuyuruBaslik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DuyuruOzet)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="ang_duyurular" ng-controller="tumDuyurularController">
                <tr ng-repeat="duyuru in duyurular">
                    <td>{{duyuru.DuyuruTarih | date : 'dd.MM.yyyy'}}</td>
                    <td>{{duyuru.DuyuruBaslik}}</td>
                    <td>{{duyuru.DuyuruOzet}}</td>
                    <td>
                        <a class="btn btn-info" href="~/Duyuru/DuyuruDetay/{{duyuru.DuyuruId}}">
                            Detaylar <span class="glyphicon glyphicon-th-large glyphicon-info-sign
"></span>
                        </a>
                    </td>
                    @if (ViewBag.admin)
                    {
                            <td>
                                <a class="btn btn-warning" href="~/Duyuru/DuyuruDuzenle/{{duyuru.DuyuruId}}">
                                    Düzenle <span class="glyphicon glyphicon-warning-sign
"></span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="~/Duyuru/DuyuruSil/{{duyuru.DuyuruId}}">
                                    Sil <span class="glyphicon glyphicon-th-large glyphicon-remove
"></span>
                                </a>
                            </td>
                    }
                </tr>
                <tr>
                    <td><button class="btn btn-md btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><span class="glyphicon glyphicon-th-large glyphicon-chevron-left"></span> Önceki </button></td>
                    <td><strong>{{currentPage+1}}/{{numberOfPages()}}</strong></td>
                    <td><button class="btn btn-md btn-primary" ng-disabled="currentPage >=  numberOfPages()-1 " ng-click="currentPage=currentPage+1"> Sonraki <span class="glyphicon glyphicon-th-large glyphicon-chevron-right"></span></button></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>