@model IEnumerable<AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.HataBildir>
@{
    ViewBag.title = "Hata Onaylama | Admin Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script>
    var module = angular.module('angular');
    module.controller('HataKontrolController', ['$scope', '$http', function ($scope, $http) {
        $scope.currentPage = 0;
        $scope.pageSize = 10;
        $scope.hatalar = {};
        $scope.tumHatalar = {};
        $scope.numberOfPages = function () {
            return Math.ceil($scope.hatalar.length / $scope.pageSize);
        }
        $scope.gorunmez = []
        angular.element(document).ready(function () {
            $http({ method: 'GET', url: '/api/HataBildirAPI/KontrolEdilecek' }).success(function (data, status, headers, config) {
                $scope.hatalar = data;
                $scope.topHata = data.length;
                for (var i = 0; i < $scope.topHata; i++) {
                    $scope.gorunmez[i] = false;
                }
            }).error(function (data, status, headers, config) {
                alert('Bilgileri alırken bir hata oluştu. Sayfayı yenileyerek tekrar deneyin!');
            })
        })
        $scope.Onayla = function (hataId, index) {
            $http({ method: 'HEAD', url: '/api/HataBildirAPI/HataOnay/' + hataId }).success(function (data, status, headers, config) {
                //başarılı
                if (status == 200) {
                    $scope.gorunmez[index] = true;
                }
            }).error(function (data, status, headers, config) {
                $scope.tumHatalar = data.ModelState;
            })
        }
        $scope.Reddet = function (hataId, index) {
            $http({ method: 'HEAD', url: '/api/HataBildirAPI/HataRed/' + hataId }).success(function (data, status, headers, config) {
                //başarılı
                if (status == 200) {
                    $scope.gorunmez[index] = true;
                }
            }).error(function (data, status, headers, config) {
                $scope.tumHatalar = data.ModelState;
            })
        }
        $scope.Sil = function (hataId, index) {
            $http({ method: 'DELETE', url: '/api/HataBildirAPI/HataSil/' + hataId }).success(function (data, status, headers, config) {
                //başarılı
                if (status == 200) {
                    $scope.gorunmez[index] = true;
                }
            }).error(function (data, status, headers, config) {
                $scope.tumHatalar = data.ModelState;
            })
        }

    }]);

    module.filter('startFrom', function () {
        return function (input, start) {
            start = +start; //parse to int
            return input.slice(start);
        }
    });


    module.directive('ngConfirmClick', [
    function () {
        return {
            link: function (scope, element, attr) {
                var msg = attr.ngConfirmClick || "Are you sure?";
                var clickAction = attr.confirmedClick;
                element.bind('click', function (event) {
                    if (window.confirm(msg)) {
                        scope.$eval(clickAction)
                    }
                });
            }
        };
    }]);


</script>
<br />
<h2>Hata Bildirimi</h2>
<hr />
<div class="row">
    <div class="table-responsive col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12">
        <ul ng-repeat="alan in tumHatalar">
            <li ng-repeat="hata in alan"> {{hata}} </li>
        </ul>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BildirilmeTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HataMesaji)
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tbody id="ang_hataKontrol" ng-app="hataKontrol" ng-controller="HataKontrolController">
                <tr ng-repeat="hata in hatalar | startFrom:currentPage*pageSize | limitTo:pageSize" ng-hide="gorunmez[$index]">
                    <td>
                        {{hata.BildirilmeTarihi | date : 'dd.MM.yyyy'}}
                    </td>
                    <td>
                        {{hata.Email}}
                    </td>
                    <td>
                        {{hata.HataMesaji}}
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="Onayla(hata.HataId,$index)" name="hataOnay">
                            Onayla <span class="glyphicon glyphicon-th-large glyphicon-ok
"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="Reddet(hata.HataId,$index)" name="hataRed">
                            Reddet <span class="glyphicon glyphicon-th-large glyphicon-remove
"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" confirmed-click="Sil(hata.HataId,$index)" name="hataSil"
                                ng-confirm-click="Silmek istediğinize emin misiniz?">
                            Sil <span class="glyphicon glyphicon-th-large glyphicon-remove
"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-md btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><span class="glyphicon glyphicon-th-large glyphicon-chevron-left"></span> Önceki </button></td>
                    <td><strong>{{currentPage+1}}/{{numberOfPages()}}</strong></td>
                    <td><button class="btn btn-md btn-primary" ng-disabled="currentPage >=  numberOfPages()-1 " ng-click="currentPage=currentPage+1">Sonraki <span class="glyphicon glyphicon-th-large glyphicon-chevron-right"></span></button></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>