@model IEnumerable<AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.Ipucu>

@{
    ViewBag.Title = "Ipuclari";
}
<script src="~/Scripts/ipuclari.js"></script>
<h2>Ipuclari</h2>

<h2>Ipucular</h2>
<script src="~/Scripts/ipucular.js"></script>
<p>
    @Html.ActionLink("Yeni Ipucu Oluştur", "IpucuOlustur")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IpucuTarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpucuBaslik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ang_ipucular" ng-app="tumIpucular" ng-controller="tumIpucularController">
        <tr ng-repeat="ipucu in ipucular">
            <td>{{ipucu.IpucuTarih | date : 'dd.MM.yyyy'}}</td>
            <td>{{ipucu.IpucuBaslik}}</td>
            <td>
                <a href="~/Ipucu/IpucuDetay/{{ipucu.IpucuId}}">Detaylar</a>
            </td>
            <td>
                <a href="~/Ipucu/IpucuDuzenle/{{ipucu.IpucuId}}">Düzenle</a>
            </td>
            <td>
                <a href="~/Ipucu/IpucuSil/{{ipucu.IpucuId}}">Sil</a>
            </td>
        </tr>
    </tbody>
</table>
