AspNetMVC_CSharpTurk/AspNetMVC_CSharpTurk/API/Etkinlik/ApiEtkinlik.cs
AspNetMVC_CSharpTurk/AspNetMVC_CSharpTurk/Web.config
AspNetMVC_CSharpTurk/AspNetMVC_CSharpTurk/Web.Debug.config
AspNetMVC_CSharpTurk/AspNetMVC_CSharpTurk/Web.Release.config
AspNetMVC_CSharpTurk/AspNetMVC_CSharpTurk/Migrations/Configuration.cs