
@{
    ViewBag.Title = "Deneme";
}

<script>
    var module = angular.module('angular');

    module.controller('IsIlaniController', ['$scope', '$http', function ($scope, $http) {
        $scope.guncelIlan = {};
        $scope.guncelIlanlar = {};
        $http({ method: 'GET', url: '/api/IsIlaniAPI/GuncelIlan'}).success(function (data, status, headers, config) {
            $scope.guncelIlan = data;
            $scope.GuncelIlanResim = {
                'background-image': 'url(' + data.ResimURL + ')'
            };
        }).error(function (data, status, headers, config) {

        });
        $http({ method: 'GET', url: '/api/IsIlaniAPI/GuncelIlanlar' }).success(function (data, status, headers, config) {
            $scope.guncelIlanlar = data;
        }).error(function (data, status, headers, config) {

        });

    }]);


</script>

<div ng-controller="IsIlaniController">
</div>
<h2>Deneme</h2>

