@{
    ViewBag.Title = "SifremiUnuttum | CSharpTürk";
}
<script src="~/Scripts/angular_spec/SifremiUnuttum.js"></script>
<div class="container">
    <div class="row sifirla">
        <div ng-controller="SifremiUnuttumController" class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12">
            <br />
            <form>
                <table>
                    <tr>
                        <td>
                            <label>E-Mail Adres:</label>
                        </td>
                        <td>
                            <input class="form-control" type="email" ng-model="mail.email" />
                        </td>
                        <td>
                            <input type="submit" ng-click="MailKontrol()" value="Gönder" class="btn btn-primary" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label ng-hide="hataGorunum" style="color:red">{{mesaj}}</label>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
