@{
    ViewBag.Title = "StatikSayfa | CSharpTürk";
}

<div class="container">
    <div class="row sifirla">
        <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12" ng-init="id=@ViewBag.id" ng-controller="StatikSayfaController">
            <h2>{{sayfa.SayfaAdi}}</h2>
            <div ng-bind-html="rawHtml(sayfa.SayfaIcerik)">

            </div>
        </div>
    </div>
</div>