@model IEnumerable<AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.Yazar>

@{
    ViewBag.Title = "Yazarlar | CSharpTürk";
}

<script src="~/Scripts/angular.js"></script>
<link href="~/Content/css/layout.css" rel="stylesheet" />
<div class="container">
    <div class="row sifirla">
        <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12">
            <h2>Yazarlarımız</h2>

            <script>
                var module = angular.module('angular');
                module.controller('YazarlarController', ['$scope', '$http', function ($scope, $http) {
                    $scope.currentPage = 0;
                    $scope.pageSize = 10;
                    $scope.numberOfPages = function () {
                        return Math.ceil($scope.kullanicilar.length / $scope.pageSize);
                    }
                    $scope.kullanicilar = {};
                    $scope.gorunmez = [];
                    $http({ method: 'GET', url: '/api/HesapAPI' }).success(function (data, status, headers, config) {
                        $scope.kullanicilar = data;
                        $scope.topYorum = data.length;
                        for (var i = 0; i < $scope.topYorum; i++) {
                            $scope.gorunmez[i] = false;
                        }
                    });
                    $scope.KullaniciSil = function (yazarId, index) {
                        $http({ method: 'HEAD', url: '/api/HesapAPI/YazarSil/' + yazarId }).success(function (data, status, headers, config) {
                            //başarılı
                            $scope.gorunmez[index] = true;
                        }).error(function (data, status, headers, config) {
                            alert('İşlem gerçekleşmedi tekrar deneyin!');
                        })
                    }

                }]);
                module.filter('startFrom', function () {
                    return function (input, start) {
                        start = +start; //parse to int
                        return input.slice(start);
                    }
                });
                module.directive('ngConfirmClick', [
                function () {
                    return {
                        link: function (scope, element, attr) {
                            var msg = attr.ngConfirmClick || "Are you sure?";
                            var clickAction = attr.confirmedClick;
                            element.bind('click', function (event) {
                                if (window.confirm(msg)) {
                                    scope.$eval(clickAction)
                                }
                            });
                        }
                    };
                }]);
            </script>
            <div class="text-gray text-center" ng-controller="YazarlarController">
                <div class="row sifirla">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12" ng-repeat="kullanici in kullanicilar | startFrom:currentPage*pageSize | limitTo:pageSize" ng-hide="gorunmez[$index]">
                            <div class="col-sm-2 col-lg-2 col-md-2 col-ls-2 col-xs-2">
                                <img style="width:160px;height:160px" class="img-circle img-responsive yazarResim" src="{{kullanici.ResimURL}}" />
                            </div>
                            <div class="pull-left col-sm-8 col-lg-8 col-md-8 col-ls-8 col-xs-8">
                                <span>{{kullanici.Ad}} {{kullanici.Soyad}}</span> <br />
                                <small>{{kullanici.WebSite}}</small> <br />
                                <small>{{kullanici.Email}}</small> <br />
                                <span>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. 
                                Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak
                                üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı 
                                sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, 
                                aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır.</span> <br />
                            </div>
                        <div class="col-sm-2 col-lg-2 col-md-2 col-ls-2 col-xs-2">
                            <br /> <br />
                            <a class="btn btn-primary" name="kullaniciDuzenle" href="~/Site/YazarMakaleler/{{kullanici.Id}}">
                                Yazara Ait Makaleler ->
                            </a>

                        </div>
                    </div>
                </div>
                <div class="row sifirla">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12">
                        <span><button class="btn btn-md btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><span class="glyphicon glyphicon-th-large glyphicon-chevron-left"></span> Önceki </button></span>
                        <span><strong>{{currentPage+1}}/{{numberOfPages()}}</strong></span>
                        <span><button class="btn btn-md btn-primary" ng-disabled="currentPage >=  numberOfPages()-1 " ng-click="currentPage=currentPage+1">Sonraki <span class="glyphicon glyphicon-th-large glyphicon-chevron-right"></span></button></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

