@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "Şifre Değişim | Admin Panel";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Şifre Değişim | CSharpTurk";
    }
}
<script>
    var module = angular.module('angular');
    module.controller('SifreDegistir', ['$scope', '$http', function ($scope, $http) {
        $scope.kullanici = {};
        $scope.tumHatalar = {};
        $scope.submitForm = function () {
            $http({
                method: 'POST',
                url: '/api/HesapApi/SifreDegistir/' + $scope.yazarId,
                contentType: 'application/json',
                data: $scope.kullanici,
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj)
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    return str.join("&");
                }
            })
              .success(function (data, status, headers, config) {
                  alert('Şifre başarıyla değiştirildi ! Kullanıcı sayfasına yönlendiriliyorsunuz ... ');
                  if (data == "Admin") {
                      window.location = "/Admin/Index";
                  } else if (data == "Yazar") {
                      window.location = "/Yazar/Index";
                  }

              }).error(function (data, status, headers, config) {
                  if (status == 400) {
                      $scope.tumHatalar = data.ModelState;
                  } else if (status == 406) {
                      $scope.tumHatalar = data.ModelState;
                  } else  {
                      alert('Sistemde bir hata oluştu. Anasayfaya yönlendiriliyorsunuz!');
                      window.location = "/Site/Index";
                  }
              })
        }
    }]);
</script>
<h2>Şifre Değişim</h2>
<div class="row">
    <div class="table-responsive col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12" ng-controller="SifreDegistir" ng-init="yazarId='@ViewBag.yazarId'">
        <form ng-submit="submitForm()" name="SifreDegisim">
            <div id="hatalar">
                <ul ng-repeat="alan in tumHatalar">
                    <li style="color:red" ng-repeat="hata in alan">{{hata}}</li>
                </ul>
            </div>
            <table>
                <tr>
                    <td>
                        <label for="Sifre">Şifre </label>
                    </td>
                    <td>
                        <input type="password" class="form-control" ng-model="kullanici.Sifre" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="YeniSifre">Yeni Şifre </label>
                    </td>
                    <td>
                        <input type="password" class="form-control" ng-model="kullanici.YeniSifre" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="YeniSifreTekrar">Yeni Şifre Tekrar </label>
                    </td>
                    <td>
                        <input type="password" class="form-control" ng-model="kullanici.YeniSifreTekrar" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Şifre Değiştir" class="form-control btn btn-success" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
