<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/Content/favicon.ico">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/footer.css" rel="stylesheet" />

    <link href="~/Content/css/textAngular.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/textAngular-rangy.min.js"></script>
    <script src="~/Scripts/textAngular-sanitize.js"></script>
    <script src="~/Scripts/textAngular.min.js"></script>
    <script src="~/Scripts/angular_spec/_Layout.js"></script>
</head>
<body id="angular" ng-app="angular" ng-init="kullaniciId='@ViewBag.kullaniciId'">
    <br />
    <div class="container"></div>
    <div class="container">
        <div class="row sifirla">
            <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12">
                <nav class="navbar navbar-default navbar-customize">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand navbar-brand-customize" href="~/Anasayfa">CSharpTürk</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-nav-customize">
                                <!--<li><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                                <!--<li><a href="#">Link</a></li>-->
                            </ul>
                            <ul class="nav navbar-nav navbar-nav-customize navbar-right" ng-controller="NavbarController">
                                <li><a href="~/Anasayfa"><div><div class="center-block glyphicon glyphicon-home font20 centerItem"> </div><div class="centerItem"> Anasayfa </div></div></a></li>
                                <li class="dropdown" ng-controller="MakaleTipController">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div><div class="center-block glyphicon glyphicon-align-center centerItem font20"> </div><div class="centerItem"> Makaleler <span class="caret"></span> </div></div></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Makale/Makaleler"><span class="glyphicon glyphicon-align-center"></span>   Tüm Makaleler</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li ng-repeat="makaleTipi in makaleTipleri"><a href="~/Makale/MakaleTip/{{makaleTipi.MakaleTipId}}">{{makaleTipi.MakaleTipAdi}}</a></li>
                                    </ul>
                                </li>
                                <li ng-repeat="sayfa in sayfalar">
                                    <a href="~/Site/StatikSayfa/{{sayfa.SayfaId}}"><div><div class="centerItem font20 center-block {{sayfa.GlyphiconClass}}"> </div><div class="centerItem"> {{sayfa.SayfaAdi}} </div></div></a>
                                </li>
                                <li><a href="~/Haber/Haberler"><div><div class="center-block glyphicon glyphicon-th"> </div><div class="centerItem"> Haberler </div></div></a></li>
                                <li><a href="~/Etkinlik/Etkinlikler"><div><div class="center-block glyphicon glyphicon-signal centerItem font20"> </div><div class="centerItem"> Etkinlikler </div></div></a></li>
                                <li><a href="~/IsIlani/Ilanlar"><div><div class="center-block glyphicon glyphicon-flash centerItem font20"> </div><div class="centerItem"> İş İlanları </div></div></a></li>
                                <li><a href="~/Site/Yazarlar"><div><div class="center-block glyphicon glyphicon-user centerItem font20"> </div><div class="centerItem"> Yazarlar </div></div></a></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="dropdown centerItem" ng-controller="AramaController">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search font32"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" class="cursorDefault">
                                                <div ng-show="hataGorunmezlik" class="colorRed">Arama yapabilmek için en az 3 karakter girilmelidir.</div>
                                                <form class="navbar-form navbar-right" role="search" ng-submit="Ara()">
                                                    <div class="input-group">
                                                        <input class="width150" onclick="return false" ng-model="aramaFiltresi" type="text" name="srch-term" id="srch-term" class="form-control" placeholder="Site içi arama ...">
                                                        <div class="input-group-btn">
                                                            <input value="Ara" type="submit" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown centerItem" >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user font32"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu" ng-controller="GirisYapController">
                                        <li>
                                            <a href="#" class="cursorDefault">
                                                @if (!User.Identity.IsAuthenticated)
                                                {
                                                    <form class="navbar-form navbar-right" role="search" ng-submit="submitForm()">
                                                        <div>
                                                            <ul ng-repeat="alan in tumHatalar">
                                                                <li class="colorRed" ng-repeat="hata in alan">{{hata}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="basic-addon1">@@</span>
                                                            <input name="kullaniciAdi" ng-model="kullanici.UserName" onclick="return false" type="text" class="form-control width150" placeholder="Kullanıcı Adı" aria-describedby="basic-addon1">
                                                        </div><br />
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="basic-addon1">@@</span>
                                                            <input name="sifre" ng-model="kullanici.Password" onclick="return false" type="password" class="form-control width150" placeholder="Şifre" aria-describedby="basic-addon1">
                                                        </div>  <br />
                                                        <div class="input-group marginTop5">
                                                            <input type="submit" value="Giriş" class=" center btn btn-default" />
                                                            <input ng-hide="true" type="checkbox" name="beniHatirla" ng-model="kullanici.RememberMe" aria-describedby="basic-addon1">
                                                            <span class="cursorPointer" ng-click="sifremiUnuttumClick()">&nbsp; Şifremi Unuttum</span>
                                                        </div>
                                                    </form>

                                                }
                                                else
                                                {
                                                    <p>
                                                        <!-- User image -->
                                                        <div class="user-header" ng-controller="KullaniciController">
                                                            <img src="{{gecerliKullanici.ResimURL}}" class="wdthgt160 img-responsive img-bordered img-circle" alt="User Image">
                                                        </div>
                                                        <!-- Menu Body -->
                                                        <div class="user-body" ng-controller="KullaniciController">
                                                            <div class="col-xs-12 text-center">
                                                                @if (User.IsInRole("Admin"))
                                                                {
                                                                    <a href="~/Admin/Index">{{gecerliKullanici.UserName}} , HOŞGELDİNİZ <br /> </a>
                                                                    <a href="~/Admin/Index">Admin Kullanıcı Sayfası </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="~/Yazar/Index">{{gecerliKullanici.UserName}} , HOŞGELDİNİZ <br /> </a>
                                                                    <a href="~/Yazar/Index">Yazar Kullanıcı Sayfası</a>
                                                                }   
                                                            </div>
                                                        </div>
                                                        <!-- Menu Footer-->
                                                        <div class="user-footer marginTop45">
                                                            <div class="pull-left">
                                                                <a href="~/Hesap/SifreDegistir" class="btn btn-default btn-flat">Şifre Değiştir </a>
                                                            </div>
                                                            <div class="pull-right">
                                                                <a href="~/Hesap/CikisYap" class="btn btn-default btn-flat">Çıkış Yap</a>
                                                            </div>
                                                        </div>
                                                    </p>
                                                }
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                    <div class="endofnav"></div>
                    <div class="contain"></div>
                </nav>
            </div>
        </div>
        <div class="row sifirla">
                @RenderBody()
        </div>
    </div>
    <div class="clearfix"></div> <!--END OF CONTENT || FOOTER BEGINS -->
    <footer class="footer-distributed">
            <div class="footer-left">
                <h3>CSharp<span>TÜRK</span></h3>
                <p class="footer-links">
                    <a href="~/Anasayfa">Anasayfa</a>
                    ·
                    <a href="~/Makale/Makaleler">Makaleler</a>
                    ·
                    <a href="~/Site/Yazarlar">Yazarlar</a>
                    ·
                    <a href="~/Haber/Haberler">Haberler</a>
                    ·
                    <a href="~/Etkinlik/Etkinlikler">Etkinlikler</a>
                    ·
                    <a href="~/IsIlani/Ilanlar">İş İlanları</a>
                </p>
                <p class="footer-company-name">CSharpTURK &copy; 2016</p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <p>Hata Bildirin</p>
                <form name="hataBildir" ng-submit="submitHata()" ng-controller="HataBildirController">
                    <ul ng-repeat="alan in hataBildirTumHatalar">
                        <li class="colorRed" ng-repeat="hata in alan">{{hata}}</li> <!--Bir alanda birde çok hata olabilir!!-->
                    </ul>
                    <input ng-model="yeniHata.email" type="text" name="email" placeholder="Email" />
                    <textarea ng-model="yeniHata.hataMesaji" name="message" placeholder="Mesaj"></textarea>
                    <input type="submit" value="Gönder" />
                </form>
            </div>
     </footer>
    @RenderSection("scripts", required: false)


</body>
</html>