
@{
    ViewBag.Title = "Etkinlik Detay | CSharpTürk";
}
<script src="~/Scripts/angular_spec/EtkinlikDetay.js"></script>

<div id="ang_etkinlikGetir" ng-init="etkinlikId=@ViewBag.etkinlikId" ng-controller="etkinlikGetirController"
     class="table-responsive col-lg-12 col-sm-12 col-md-12 col-ls-12 col-xs-12">
    <div class="row sifirla">
        <div class="visible-xs">
            <div class="col-xs-4">
                <img class="img-bordered wdthgt100" src="~/Content/images/etkinlik_icon.png" />
            </div>
            <div class="col-xs-8">
                <h4 class="colorEtkinlik">{{etkinlik.EtkinlikAdi}}</h4>
                <small class="color808080"> -- {{etkinlik.Baslangic | date : 'dd.MM.yyyy HH:mm'}} </small>
                <small class="color808080"> -- {{etkinlik.Bitis | date : 'dd.MM.yyyy HH:mm'}}</small>
            </div>
        </div>
        <div class="visible-lg">
            <div class="col-lg-2">
                <img class="wdthgt100" src="~/Content/images/etkinlik_icon.png" />
            </div>
            <div class="marginLeft-50 col-lg-10">
                <h4 class="colorEtkinlik visible-xs">{{etkinlik.EtkinlikAdi}}</h4>
                <h2 class="colorEtkinlik hidden-xs">{{etkinlik.EtkinlikAdi}}</h2>
                <small class="color808080"> -- {{etkinlik.Baslangic | date : 'dd.MM.yyyy HH:mm'}} </small>
                <small class="color808080"> -- {{etkinlik.Bitis | date : 'dd.MM.yyyy HH:mm'}}</small>
            </div>
        </div>
        <div class="hidden-xs hidden-lg">
            <div class="col-sm-2 col-md-2 col-ls-2">
                <img class="img-bordered wdthgt100" src="~/Content/images/etkinlik_icon.png" />
            </div>
            <div class="col-sm-10 col-md-10 col-ls-10">
                <h4 class="colorEtkinlik visible-xs">{{etkinlik.EtkinlikAdi}}</h4>
                <h2 class="colorEtkinlik hidden-xs">{{etkinlik.EtkinlikAdi}}</h2>
                <small class="color808080"> -- {{etkinlik.Baslangic | date : 'dd.MM.yyyy HH:mm'}} </small>
                <small class="color808080"> -- {{etkinlik.Bitis | date : 'dd.MM.yyyy HH:mm'}}</small>
            </div>
        </div>
    </div>
    <br />
    <blockquote>
        <h4 class="colorEtkinlik"> Etkinlik Adresi : </h4> <p> {{etkinlik.EtkinlikAdres}} {{etkinlik.EtkinlikIlIlce}} </p>

    </blockquote>

    <br />
    <div ng-bind-html="rawHtmlIcerik()"> </div>
    <hr />
    <br />
    <a class="btn btn-primary" href="@ViewBag.previousUrl">
        <span class="glyphicon glyphicon-chevron-left glyphicon-th-large"></span>
        Geri Dön
    </a>
    <br />
</div>
<br />



